<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>关于</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
上兴镇，位于江苏省溧阳市，是一个有着千余年历史文明的古镇，她地处江南水乡，四季分明，气候宜人，年平均气温15度。上兴镇地域面积245.6平方公里，是江苏省区域面积最大的建制镇。总人口7.88万，辖36个行政村，4个居委会。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               上兴镇，位于江苏省溧阳市，是一个有着千余年历史文明的古镇，她地处江南水乡，四季分明，气候宜人，年平均气温15度。上兴镇地域面积245.6平方公里，是江苏省区域面积最大的建制镇。总人口7.88万，辖36个行政村，4个居委会。
            </p>
        </div>
    </div>
</section>
